:root {
  --cor-fundo: #3609ff;
  --cor-principal: #00f821;
  --cor-secundaria: #9e20cf;
  --cor-destaque: #d43384;
  --cor-texto: #831a5b;
}body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}.caixa-principal {
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}h1 {
  color: var(--cor-destaque);
}
